body{
  text-align: center;
}

header{
  color: #fff;
  background-color: #1b1e21;
  border-color: #1b1e21;
  height: 8rem;
}

.heading{
  padding-top: 2.5rem;
}

.badge-wrapper{
  margin:3rem;
}

.date{
  color: #0c5460;
  background-color: #abdde5;
  border-color: #1b1e21;
}

.list-btn{
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
border-top-right-radius: 0;
}

#new-item-text{
border-radius: 0;
}

#add-item-btn{
border-bottom-right-radius: 0;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}

#btn-r,#btn-l{
border-radius: 0;
}

#btn-m{
  border-radius: 0;
  border-right: none;
  border-left: none;
}

.btn-active{
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

#no-item-msg{
  margin-top: 1rem;
  display: none;
}




.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-item:hover{
  color: #004085;
  background-color: #9fcdff;
  cursor: pointer;
}

a.btn.active{
  color: #004085;
  background-color: #b8daff;
}
