body{
  text-align: center;
}


header{
  color: #fff;
  background-color: #1b1e21;
  border-color: #1b1e21;
  height: 8rem;
}

.heading{
  padding-top: 2.5rem;
}

.badge-wrapper{
  margin:3rem;
}

.date{
  color: #0c5460;
  background-color: #abdde5;
  border-color: #1b1e21;
}

.list-btn{
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
border-top-right-radius: 0;
}

#new-list:hover{
  color: #fff;
  background-color: #007bff;
}

#new-item-text{
border-radius: 0;
}

#add-item-btn{
border-bottom-right-radius: 0;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}

#btn-r,#btn-l{
border-radius: 0;
}

#btn-m{
  border-radius: 0;
  border-right: none;
  border-left: none;
}

.btn-active{
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

#no-item-msg{
  margin-top: 1rem;
  display: none;
}
